body {
  font-family: monospace;
  font-size: 12px;
  color: #222222;
  margin: 20px 10px 0px 20px;
  text-align: left;
}
.manheader {
  font-family: monospace;
  font-size: 12px;
  margin: 10px 0px 0px 0px;
}
h1 {
  font-size: 12px;
  font-weight: bold;
  margin: 15px 0px 0px 0px;
}
.subtext {
  margin: 0px 0px 10px 50px;
  width: 600px;
}
.doublesubtext {
  margin: 0px 0px 10px 70px;
  width: 600px;
}
.triplesubtext {
  margin: 0px 0px 10px 50px;
  width: 800px;
}
.bottomcut {
  margin-bottom: 0px;
}
a, a.active, a.visited, a.hover {
  color: #222222;
  text-decoration: underline;
}
.footer {
  margin: 10px 0px 20px 0px;
  color: #CCCCCC;
}

.triplesubtext li{
  list-style: none;
}
